/*This example is taken from the course's book "Java How to Program Early Objects 11th edition"*/

Rectangle {
    -fx-stroke-width: 10;
    -fx-stroke: red;
    -fx-arc-width: 50;
    -fx-arc-height: 50;
    -fx-fill: yellow;
}
